*{
    margin: 0;
    padding: 0;

}
/* css variable */
:root{
--navbar-height: 59px;

}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    
}
/* logo and image */
#logo{
    height: 120px;
    margin: 1px 28px;

}
#logo img{ 

}
#navbar ul{
    display: flex;
}
#navbar::before{
content: "";
background-color: black;
position: absolute;
height: 20%;
width: 100%;
z-index: -1;
opacity: 0.3;
}

#navbar ul li{
    list-style: none;
    font font-size: 1.3rem;
    }
#navbar ul li a{
   font-size: 22px;
    color: white;
    display: block;
    padding: 1px 18px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
/* hero section */
.hero-section{
    background-image: url(bg2.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.hero-section h1{
    font-size: 45px;
    color: #ffffff;
    opacity: 1;
    z-index: 99;
    filter: brightness(100%);
}
.hero-section p{
    font-size: 20px;
    color: #ffffff;
    width: 80%;
    text-align: center;
}
.btn{
    background-color: #b9423b;
    width: 150px;
    padding: 2px;
    font-size: 20px;
    box-shadow: 5px 2px #510b0b;
}
.btn:hover{
    background-color: white;
    cursor: pointer;
}
/* service section */
.service-section{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    margin: auto;
}
.card{
    width: 500px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 232, 236);
}
.product-img{
    height: 250px;
    weight: 100%;
    background-size: cover;

}
.ourservice{
    text-align: center;
}
.ourservice h1{
    position:relative;
    margin: 25px 0;

}
.ourservice{
    background-image: url(contact.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
